@model IEnumerable<Mou3amalati.Models.DocumentRequestStatus>

@{
    ViewData["Title"] = "UserDocumentList";
}

<h1>My Documents</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Document Name
            </th>
            <th>
                Requestor
            </th>
            <th>
                Assigned To
            </th>
            <th>
                Document Status
            </th>
            <th>
                Status Date
            </th>
            <th>
                Steps Percentage
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DocumentRequest.Document.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DocumentRequest.RequestedByCitizen.FullName)
            </td>
            <td>
               @Html.DisplayFor(modelItem => item.AssignedToCitizen.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StatusDate)
            </td>
            <td>
                @{ 
                    var result = (item.DocumentRequest.CurrentOrdinalPositionInWorkflow*100)/(item.DocumentRequest.Document.Steps);
                }
                @Html.DisplayFor(modelItem => result)<text>%</text>
            </td>
        </tr>
}
    </tbody>
</table>
