@model Mou3amalati.Models.ApplicationIdentityUser

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout_admin.cshtml";

}

<h1>Details</h1>

<div>
    <h4>User</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Id
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-2">
            User Name
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt class="col-sm-2">
            Email
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            Phone Number
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt class="col-sm-2">
            Citizen Id
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CitizenId)
        </dd>
        <dt class="col-sm-2">
            Email Confirmed
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmailConfirmed)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
